@keyframes moving {
  25% {
    transform: translateY(40px);
  }
  75% {
    transform: -translateY(40px);
  }
}
.moving {
  animation-name: moving;
  animation-duration: 8000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.move {
  animation-name: rotate;
  animation-duration: 20000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes stable {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.stop {
  animation-name: stable;
  animation-duration: 20000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/* Position and sizing of burger button */
.bm-burger-button {
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  display: none;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  display: none;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  display: none;
}

/* Color/shape of close button cross */
.bm-cross {
  display: none;
}

.bm-menu-wrap {
  position: fixed;
  left: 0;
  top: 80px;
  height: 30vh !important;
}

/* General sidebar styles */
.bm-menu {
  width: 100%;
  height: 35vh !important;
  background: rgb(27, 7, 36);
  transition: all;
  transition-duration: 5ms;
  font-size: 1.15em;
}
/* Styling of overlay */
.bm-overlay {
  width: 100vw;
  position: fixed;
  left: 0;
  top: 100px;
  background: rgba(187, 173, 173, 0.3);
}
.purple {
  color: rgb(205, 95, 248);
}
